.desktop-8 .logo-lembaga-wakaf-uang-unisia-hitam-putih-2 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  width: 93px;
  height: 96px;
}
.desktop-8 .home {
  margin-right: 9px;
  width: 46px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-8 .produk-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-8 .event {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-8 .berita {
  margin-right: 19.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-8 .laporan {
  margin-right: 15px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-8 .tentang-kami {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-8 .container-11 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-8 .container-3 {
  margin: 11px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 469.6px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-8 .login {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-8 .container-12 {
  border-radius: 4px;
  border: 1px solid #FFCF48;
  background: #238C87;
  position: relative;
  display: flex;
  padding: 11px 1.8px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-8 .container {
  margin: 29px 0 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 622px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-8 .container-19 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1220px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-8 .daftar {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #212121;
}
.desktop-8 .container-1 {
  border-radius: 9px;
  background: #F8D217;
  position: absolute;
  right: 29px;
  bottom: 28px;
  display: flex;
  padding: 11px 0.3px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-8 .container-2 {
  background: #238C87;
  position: relative;
  margin-bottom: 68px;
  display: flex;
  padding: 6px 116px 6px 104px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-8 .ihwu {
  margin: 0 78px 24px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #278E8A;
}
.desktop-8 .imbal-hasil-wakaf-uang {
  margin: 0 78px 21px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}
.desktop-8 .imbal-hasil-wakaf-uang-merupakan-pendistribusian-dari-hasil-pengembangan-wakaf-uang-yang-dialokasikan-pada-bidang-pengembangan-pendidikan-unit-bisnis-dan-kemaslahatan-umat {
  margin: 0 78px 80px 78px;
  display: inline-block;
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.desktop-8 .container {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  width: 342px;
  height: 179px;
}
.desktop-8 .container-1 {
  background: url('../assets/images/image_2.png') 50% / cover no-repeat;
  width: 342px;
  height: 179px;
}
.desktop-8 .container-2 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  width: 342px;
  height: 179px;
}
.desktop-8 .container-20 {
  margin: 0 74px 0 78px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: 1288px;
  box-sizing: border-box;
}
.desktop-8 .hafitalent-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-8 .hafitalent-unisia-merupakan-program-beasiswa-yang-dirancang-untuk-membantu-kawula-muda-penghafal-al-quranhafiz-bagi-masyarakat-umum-untuk-meringankan-biaya-pendidikan {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-8 .container-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 17px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-8 .unisia-pond {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-8 .unisia-pond-merupakan-program-sektor-rill-dengan-membuka-usaha-budidaya-ikan-untuk-membantu-masyarakat-dalam-memperoleh-kebutuhan-pangan-yang-bergizi {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-8 .container-13 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 41px 14px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-8 .elwa-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-8 .elwa-unisia-merupakan-program-beasiswa-yang-dirancang-untuk-membantu-mahasiswa-universitas-islam-indonesia-yang-sedang-menempuh-tugas-akhir {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-8 .container-14 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 41px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-8 .container-4 {
  margin: 0 74px 47px 78px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-8 .container-3 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  width: 342px;
  height: 179px;
}
.desktop-8 .container-4 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  width: 342px;
  height: 179px;
}
.desktop-8 .container-5 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  width: 342px;
  height: 179px;
}
.desktop-8 .container-7 {
  margin: 0 74px 0 78px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: 1288px;
  box-sizing: border-box;
}
.desktop-8 .unisia-workspace {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-8 .unisia-workspace-merupakan-program-sektor-rill-yang-dirancang-dengan-membuka-usaha-penyediaan-ruang-kerja-yang-nyaman-sebagai-jendela-inspirasi-tempat-yangcozyuntuk-belajar-sekaligus-ruangmeeting {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-8 .container-15 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 11px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-8 .summa-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-8 .summa-unisia-merupakan-program-penyediaan-air-bersih-untuk-mengatasi-masalah-kekurangan-air {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-8 .container-8 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 107px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-8 .rulin-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-8 .rulin-unisia-merupakan-program-penyediaan-fasilitas-persalinan-bagi-keluarga-kurang-mampu {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-8 .container-21 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 107px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-8 .container-25 {
  margin: 0 74px 37px 78px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-8 .container-6 {
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  margin: 0 78px;
  align-self: flex-start;
  width: 342px;
  height: 179px;
}
.desktop-8 .disacare-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-8 .disacare-unisia-merupakan-program-untuk-membantu-para-disabilitas-mendapatkan-alat-bantu-yang-layak-dan-nyaman-serta-menyediakan-fasilitas-untuk-pelatihan-kerja-yang-bertujuan-menumbuhkan-kemandirian {
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-8 .container-18 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin: 0 78px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 9px 23px 13px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-8 .container-24 {
  background: #FCFCFC;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 306px;
  box-sizing: border-box;
}
.desktop-8 .logo-lembaga-wakaf-uang-unisia-hitam-putih-21 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 101px;
  top: 7px;
  width: 93px;
  height: 96px;
}
.desktop-8 .fitur {
  margin-right: 15px;
  width: 47px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-8 .hubungi-kami {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-8 .terdaftar-resmi-di {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-8 .container-17 {
  margin: 0 128.1px 12px 128.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 835.4px;
  box-sizing: border-box;
}
.desktop-8 .jl-cik-di-tiro-no-1-terban-kec-gondokusuman-kota-yogyakarta-diy-55223 {
  position: relative;
  margin: 31px 36px 12px 0;
  display: inline-block;
  width: 232px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .profil {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .produk {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .cara-berwakaf {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .imbal-hasil-wakaf-uang-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .container-16 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-8 .email-lwu-unisiagmail-com {
  margin-bottom: 18px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .telepon-6281390346688 {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .container-9 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-8 .nomor-surat-tanda-bukti-pendaftaran-nazhir-stbpn-3300250 {
  position: relative;
  margin-bottom: 7px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .di-bawah-naungan {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-8 .container-5 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-8 .container-10 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1325.5px;
  box-sizing: border-box;
}
.desktop-8 .logo-beserta-nama-untuk-website-01011 {
  background: url('../assets/images/logo_beserta_nama_untuk_website_01011.png') 50% / cover no-repeat;
  margin: 0 0 5px 873.5px;
  width: 173px;
  height: 36px;
}
.desktop-8 .nomor-01-kpts-ii-2020 {
  margin-left: 880.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-8 .container-23 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1325.5px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-8 .images-removebg-preview-1 {
  background: url('../assets/images/images_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 49px;
  right: 254px;
  width: 44px;
  height: 44px;
}
.desktop-8 .container-22 {
  background: #278E8A;
  position: absolute;
  right: -2px;
  bottom: -7px;
  display: flex;
  padding: 19px 58.5px 7px 56px;
  width: 1440px;
  height: 252px;
  box-sizing: border-box;
}
.desktop-8 {
  background: rgba(39, 142, 138, 0.05);
  display: flex;
  padding-bottom: 6px;
  width: 1440px;
  box-sizing: border-box;
}
