.desktop-13 .event-1 {
  margin: 14px 12px 1px 0;
  display: inline-block;
  width: 59px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #278E8A;
}
.desktop-13 .event-lwu-unisia {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-13 .container-26 {
  margin: 0 25px 74px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 792.8px;
  box-sizing: border-box;
}
.desktop-13 .pilih-kategori {
  margin-right: 15.4px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-13 .polygon-5 {
  transform: rotate(-179.901deg);
  margin: 11px 0 8px 0;
  width: 12px;
  height: 11px;
}
.desktop-13 .container-13 {
  background: #238C87;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 15px 13.9px 15px 20px;
  box-sizing: border-box;
}
.desktop-13 .search {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.desktop-13 .container-7 {
  background: #F4F1F1;
  position: relative;
  display: flex;
  padding: 15px 123px 15px 0;
  width: 1017px;
  box-sizing: border-box;
}
.desktop-13 .group-17 {
  width: 31px;
  height: 31px;
}
.desktop-13 .container-23 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 15px 0 14px 1px;
  width: 76px;
  height: 60px;
  box-sizing: border-box;
}
.desktop-13 .container-14 {
  margin: 0 25px 80px 25px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-13 .event-event-yang-akan-datang {
  margin: 0 51px 94px 51px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #238C87;
}
.desktop-13 .rectangle-49 {
  background: url('../assets/images/rectangle_49.jpeg') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
  width: 422px;
  height: 857px;
}
.desktop-13 .khatam-ul-quran-program-story-template-design-272660771-fb-772-ea-11-a-459-aea-702-f-81-b-1 {
  background: url('../assets/images/khatam_ul_quran_program_story_template_design_272660771_fb_772_ea_11_a_459_aea_702_f_81_b_1.jpeg') 50% / cover no-repeat;
  width: 422px;
  height: 857px;
}
.desktop-13 .container-22 {
  background: #D9D9D9;
  position: relative;
  display: flex;
  width: 422px;
  height: 857px;
  box-sizing: border-box;
}
.desktop-13 .rectangle-51 {
  background: #D9D9D9;
  width: 422px;
  height: 857px;
}
.desktop-13 .container-11 {
  margin-bottom: 149px;
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  width: 1338px;
  box-sizing: border-box;
}
.desktop-13 .event-event-lwu {
  margin: 0 51px 71px 51px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #238C87;
}
.desktop-13 .social-065121 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-13 .container {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 40px 0 35px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-13 .social-065122 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-13 .container-1 {
  background: url('../assets/images/image_2.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 40px 0 35px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-13 .social-065123 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-13 .container-19 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 40px 0 35px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-13 .container-5 {
  margin: 0 25px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: 1288px;
  box-sizing: border-box;
}
.desktop-13 .hafitalent-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-13 .hafitalent-unisia-merupakan-program-beasiswa-yang-dirancang-untuk-membantu-kawula-muda-penghafal-al-quranhafiz-bagi-masyarakat-umum-untuk-meringankan-biaya-pendidikan {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-13 .container-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 17px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-13 .unisia-pond {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-13 .unisia-pond-merupakan-program-sektor-rill-dengan-membuka-usaha-budidaya-ikan-untuk-membantu-masyarakat-dalam-memperoleh-kebutuhan-pangan-yang-bergizi {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-13 .container-28 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 41px 14px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-13 .elwa-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-13 .elwa-unisia-merupakan-program-beasiswa-yang-dirancang-untuk-membantu-mahasiswa-universitas-islam-indonesia-yang-sedang-menempuh-tugas-akhir {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-13 .container-15 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 41px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-13 .container-30 {
  margin: 0 25px 47px 25px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-13 .social-065126 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-13 .container-25 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 38px 0 37px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-13 .social-065125 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-13 .container-3 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 38px 0 37px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-13 .social-065124 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-13 .container-12 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 38px 0 37px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-13 .container-8 {
  margin: 0 25px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: 1288px;
  box-sizing: border-box;
}
.desktop-13 .unisia-workspace {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-13 .unisia-workspace-merupakan-program-sektor-rill-yang-dirancang-dengan-membuka-usaha-penyediaan-ruang-kerja-yang-nyaman-sebagai-jendela-inspirasi-tempat-yangcozyuntuk-belajar-sekaligus-ruangmeeting {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-13 .container-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 11px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-13 .summa-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-13 .summa-unisia-merupakan-program-penyediaan-air-bersih-untuk-mengatasi-masalah-kekurangan-air {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-13 .container-16 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 107px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-13 .rulin-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-13 .rulin-unisia-merupakan-program-penyediaan-fasilitas-persalinan-bagi-keluarga-kurang-mampu {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-13 .container-29 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 107px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-13 .container-4 {
  margin: 0 25px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-13 .container-20 {
  background: #FCFCFC;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 231px 51px 406px 51px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-13 .logo-lembaga-wakaf-uang-unisia-hitam-putih-2 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  width: 93px;
  height: 96px;
}
.desktop-13 .home {
  margin-right: 9px;
  width: 46px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-13 .produk {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-13 .event {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-13 .berita {
  margin-right: 19.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-13 .laporan {
  margin-right: 15px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-13 .tentang-kami {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-13 .container-21 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-13 .container-9 {
  margin: 11px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 469.6px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-13 .login {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-13 .container-27 {
  border-radius: 4px;
  border: 1px solid #FFCF48;
  background: #238C87;
  position: relative;
  display: flex;
  padding: 11px 1.8px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-13 .container-24 {
  margin: 29px 0 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 622px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-13 .container-18 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1220px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-13 .daftar {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #212121;
}
.desktop-13 .container-10 {
  border-radius: 9px;
  background: #F8D217;
  position: absolute;
  right: 29px;
  bottom: 28px;
  display: flex;
  padding: 11px 0.3px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-13 .container-17 {
  background: #238C87;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  display: flex;
  padding: 6px 116px 6px 104px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-13 {
  background: rgba(39, 142, 138, 0.05);
  display: flex;
  padding-left: 2px;
  width: 1440px;
  box-sizing: border-box;
}
