.desktop-15 .rectangle-94 {
  background: #278E8A;
  margin-bottom: 251px;
  width: 1440px;
  height: 771px;
}
.desktop-15 .inspirator-wakaf-uang {
  margin: 0 10px 27px 10px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
}
.inspirator-wakaf-uang {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.333;
}
.desktop-15 .bukan-hanya-sekadar-slogan-inilah-gerakan-nyata-untuk-menyelesaikan-beragam-masalah-bangsa-kita-mulai-dari-kelaparan-krisis-air-bersih-problematika-kesehatan-gizi-buruk-hingga-timpangnya-kepedulian-pada-disabilitas-mari-kita-selamatkan-dan-mandirikan-bangsa-dengan-wakaf-uang {
  margin: 0 0 26px 10px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .icon-play {
  margin-right: 16px;
  width: 68px;
  height: 68px;
}
.desktop-15 .tonton-video-cara-berwakaf-uang {
  margin: 22px 0 23px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-15 .container-11 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-15 .container {
  margin: 136px 50.3px 253px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-15 .rectangle-39 {
  background: url('../assets/images/rectangle_39.png') 50% / cover no-repeat;
  width: 613px;
  height: 503px;
}
.desktop-15 .container-4 {
  background: #FFCF48;
  position: relative;
  margin-top: 138px;
  display: flex;
  padding: 6px 9px 7px 7px;
  width: 629px;
  height: 516px;
  box-sizing: border-box;
}
.desktop-15 .desktop-10 {
  background: #238C87;
  display: flex;
  flex-direction: row;
  padding: 136px 31px 138px 42px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-15 .motivasi-berwakaf-uang {
  margin-bottom: 27px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}
.motivasi-berwakaf-uang {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.333;
}
.desktop-15 .lwu-unisia-berkomitmen-untuk-terus-meningkatkan-kemudahan-bagi-wakif-dalam-berwakaf-uang {
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-15 .container-12 {
  margin: 173px 136.7px 323px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-15 .screenshot-202406060555591 {
  background: url('../assets/images/screenshot_202406060555591.png') 50% / cover no-repeat;
  width: 507px;
  height: 417px;
}
.desktop-15 .container-10 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-top: 173px;
  display: flex;
  padding-bottom: 29px;
  width: 507px;
  height: 446px;
  box-sizing: border-box;
}
.desktop-15 .desktop-11 {
  background: rgba(35, 140, 135, 0.09);
  display: flex;
  flex-direction: row;
  padding: 173px 85px 173px 52px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-15 .logo-lembaga-wakaf-uang-unisia-hitam-putih-2 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 136px;
  top: 5px;
  width: 93px;
  height: 96px;
}
.desktop-15 .fitur {
  margin-right: 15px;
  width: 47px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-15 .hubungi-kami {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-15 .terdaftar-resmi-di {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-15 .container-3 {
  margin: 0 128.1px 12px 128.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 835.4px;
  box-sizing: border-box;
}
.desktop-15 .jl-cik-di-tiro-no-1-terban-kec-gondokusuman-kota-yogyakarta-diy-55223 {
  position: relative;
  margin: 31px 36px 12px 0;
  display: inline-block;
  width: 232px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .profil {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .produk {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .cara-berwakaf {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .imbal-hasil-wakaf-uang {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .container-1 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-15 .email-lwu-unisiagmail-com {
  margin-bottom: 18px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .telepon-6281390346688 {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .container-7 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-15 .nomor-surat-tanda-bukti-pendaftaran-nazhir-stbpn-3300250 {
  margin-bottom: 7px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .di-bawah-naungan {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-15 .container-8 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-15 .container-9 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1325.5px;
  box-sizing: border-box;
}
.desktop-15 .logo-beserta-nama-untuk-website-01011 {
  background: url('../assets/images/logo_beserta_nama_untuk_website_01011.png') 50% / cover no-repeat;
  margin: 0 0 5px 873.5px;
  width: 173px;
  height: 36px;
}
.desktop-15 .nomor-01-kpts-ii-2020 {
  margin-left: 880.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-15 .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1325.5px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-15 .images-removebg-preview-1 {
  background: url('../assets/images/images_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 45px;
  right: 219px;
  width: 44px;
  height: 44px;
}
.desktop-15 .container-2 {
  background: #278E8A;
  position: relative;
  display: flex;
  padding: 17px 23.5px 9px 91px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-15 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-15 .rectangle-97 {
  background: #D9D9D9;
  width: 58px;
  height: 27px;
}
.desktop-15 .container-5 {
  background: url('../assets/images/wakaf_uan.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  padding: 0 0 67px 806px;
  height: 773px;
  box-sizing: border-box;
}
.desktop-15 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
