.desktop-12 .logo-lembaga-wakaf-uang-unisia-hitam-putih-2 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 104px;
  top: 6px;
  width: 93px;
  height: 96px;
}
.desktop-12 .ellipse-3 {
  border-radius: 84.5px;
  background: #238C87;
  width: 169px;
  height: 169px;
}
.desktop-12 .group-1 {
  border-radius: 110.5px;
  background: #278E8A;
  position: absolute;
  left: 120px;
  bottom: 27px;
  display: flex;
  width: 221px;
  height: 221px;
}
.desktop-12 .ellipse-31 {
  border-radius: 50.1px;
  background: #238C87;
  width: 100.2px;
  height: 100.2px;
}
.desktop-12 .group-2 {
  border-radius: 65.5px;
  background: #278E8A;
  position: absolute;
  left: 458px;
  bottom: 263px;
  display: flex;
  padding: 15.4px;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.desktop-12 .ellipse-32 {
  border-radius: 66.5px;
  background: #238C87;
  width: 133.1px;
  height: 133.1px;
}
.desktop-12 .group-3 {
  border-radius: 87px;
  background: #278E8A;
  position: absolute;
  left: 162px;
  top: 206px;
  display: flex;
  width: 174px;
  height: 174px;
}
.desktop-12 .ellipse-33 {
  border-radius: 66.5px;
  background: #238C87;
  width: 133.1px;
  height: 133.1px;
}
.desktop-12 .group-4 {
  border-radius: 87px;
  background: #278E8A;
  position: absolute;
  left: 449px;
  top: 38px;
  display: flex;
  width: 174px;
  height: 174px;
}
.desktop-12 .logo-lembaga-wakaf-uang-unisia-hitam-putih-1 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 104px;
  top: 12px;
  width: 93px;
  height: 96px;
}
.desktop-12 .logo-lembaga-wakaf-uang-unisia-hitam-putih-3 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  width: 93px;
  height: 96px;
}
.desktop-12 .home {
  margin: 11px 21.8px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .produk {
  margin: 11px 20.4px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .event-1 {
  margin: 11px 21.9px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .berita {
  margin: 11px 19.4px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .laporan {
  margin: 11px 15px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .tentang-kami {
  margin: 11px 0 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .login {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .container-34 {
  border-radius: 4px;
  border: 1px solid #FFCF48;
  background: #238C87;
  position: relative;
  display: flex;
  padding: 11px 1.8px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-12 .container-15 {
  margin: 29px 0 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 622px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .container-10 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1220px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .daftar {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #212121;
}
.desktop-12 .container-1 {
  border-radius: 9px;
  background: #F8D217;
  position: absolute;
  right: 29px;
  bottom: 28px;
  display: flex;
  padding: 11px 0.3px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-12 .container-41 {
  background: #238C87;
  position: relative;
  display: flex;
  padding: 6px 116px 6px 104px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .ellipse-34 {
  border-radius: 33.3px;
  background: #238C87;
  width: 66.5px;
  height: 66.5px;
}
.desktop-12 .group-5 {
  border-radius: 43.5px;
  background: #278E8A;
  position: absolute;
  left: 120px;
  bottom: 0px;
  display: flex;
  padding: 10.2px;
  width: 87px;
  height: 87px;
  box-sizing: border-box;
}
.desktop-12 .container {
  position: relative;
  margin-bottom: 138px;
  display: flex;
  padding-bottom: 6px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-12 .asingle-click-for-waqf {
  margin: 0 130px 122px 130px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .berwakaf-uang-dapat-dilakukan-dengan-mudah-hanya-dengan-sekali-klik-melaluismartphone-kapan-pun-dan-di-mana-pun {
  margin: 0 120px 70px 120px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .wakaf-uang-sekarang {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-12 .container-18 {
  border-radius: 7px;
  background: #F8D217;
  position: relative;
  margin: 0 120px;
  display: flex;
  align-self: flex-start;
  padding: 24px 0 24px 5.2px;
  width: 236px;
  box-sizing: border-box;
}
.desktop-12 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.raih-pahala-dengan-ivestasi-wakaf-uang {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 36px;
  line-height: 1.333;
  color: #F8D217;
}
.desktop-12 .raih-pahala-dengan-ivestasi-wakaf-uang {
  position: absolute;
  left: 120px;
  top: 287px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 36px;
  color: #FFFFFF;
}
.desktop-12 .container-2 {
  background: #238C87;
  position: relative;
  margin-bottom: 302px;
  display: flex;
  height: 773px;
  box-sizing: border-box;
}
.desktop-12 .event {
  margin: 14px 12px 1px 0;
  display: inline-block;
  width: 59px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #278E8A;
}
.desktop-12 .event-lwu-unisia {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-12 .container-31 {
  margin: 0 78px 74px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 792.8px;
  box-sizing: border-box;
}
.desktop-12 .pilih-kategori {
  margin-right: 15.4px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-12 .polygon-5 {
  transform: rotate(-179.901deg);
  margin: 11px 0 8px 0;
  width: 12px;
  height: 11px;
}
.desktop-12 .container-26 {
  background: #238C87;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 15px 13.9px 15px 20px;
  box-sizing: border-box;
}
.desktop-12 .search {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.desktop-12 .container-20 {
  background: #F4F1F1;
  position: relative;
  display: flex;
  padding: 15px 123px 15px 0;
  width: 1017px;
  box-sizing: border-box;
}
.desktop-12 .group-17 {
  width: 31px;
  height: 31px;
}
.desktop-12 .container-35 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 15px 0 14px 1px;
  width: 76px;
  height: 60px;
  box-sizing: border-box;
}
.desktop-12 .container-3 {
  margin: 0 74px 80px 78px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .event-event-yang-akan-datang {
  margin: 0 104px 94px 104px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #238C87;
}
.desktop-12 .rectangle-49 {
  background: url('../assets/images/rectangle_49.jpeg') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
  width: 422px;
  height: 857px;
}
.desktop-12 .khatam-ul-quran-program-story-template-design-272660771-fb-772-ea-11-a-459-aea-702-f-81-b-1 {
  background: url('../assets/images/khatam_ul_quran_program_story_template_design_272660771_fb_772_ea_11_a_459_aea_702_f_81_b_1.jpeg') 50% / cover no-repeat;
  width: 422px;
  height: 857px;
}
.desktop-12 .container-24 {
  background: #D9D9D9;
  position: relative;
  display: flex;
  width: 422px;
  height: 857px;
  box-sizing: border-box;
}
.desktop-12 .pngtree-islamic-new-year-poster-image-454564 {
  background: url('../assets/images/pngtree_islamic_new_year_poster_image_454564.jpeg') 50% / cover no-repeat;
  width: 422px;
  height: 856px;
}
.desktop-12 .container-7 {
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding-bottom: 1px;
  width: 422px;
  height: 857px;
  box-sizing: border-box;
}
.desktop-12 .container-21 {
  margin: 0 49px 149px 53px;
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  width: 1338px;
  box-sizing: border-box;
}
.desktop-12 .event-event-lwu {
  margin: 0 104px 71px 104px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #238C87;
}
.desktop-12 .social-065121 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-12 .container-4 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 40px 0 35px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-12 .social-065122 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-12 .container-40 {
  background: url('../assets/images/image_2.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 40px 0 35px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-12 .social-065123 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-12 .container-25 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 40px 0 35px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-12 .container-6 {
  margin: 0 74px 0 78px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: 1288px;
  box-sizing: border-box;
}
.desktop-12 .hafitalent-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-12 .hafitalent-unisia-merupakan-program-beasiswa-yang-dirancang-untuk-membantu-kawula-muda-penghafal-al-quranhafiz-bagi-masyarakat-umum-untuk-meringankan-biaya-pendidikan {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-12 .container-39 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 17px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-12 .unisia-pond {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-12 .unisia-pond-merupakan-program-sektor-rill-dengan-membuka-usaha-budidaya-ikan-untuk-membantu-masyarakat-dalam-memperoleh-kebutuhan-pangan-yang-bergizi {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-12 .container-29 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 41px 14px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-12 .elwa-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-12 .elwa-unisia-merupakan-program-beasiswa-yang-dirancang-untuk-membantu-mahasiswa-universitas-islam-indonesia-yang-sedang-menempuh-tugas-akhir {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-12 .container-19 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 0 41px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-12 .container-36 {
  margin: 0 74px 47px 78px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .social-065126 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-12 .container-28 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 38px 0 37px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-12 .social-065125 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-12 .container-13 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 38px 0 37px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-12 .social-065124 {
  background: url('../assets/images/social_065126.png') 50% / cover no-repeat;
  width: 104px;
  height: 104px;
}
.desktop-12 .container-37 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 38px 0 37px 0;
  width: 342px;
  height: 179px;
  box-sizing: border-box;
}
.desktop-12 .container-11 {
  margin: 0 74px 0 78px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: 1288px;
  box-sizing: border-box;
}
.desktop-12 .unisia-workspace {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-12 .unisia-workspace-merupakan-program-sektor-rill-yang-dirancang-dengan-membuka-usaha-penyediaan-ruang-kerja-yang-nyaman-sebagai-jendela-inspirasi-tempat-yangcozyuntuk-belajar-sekaligus-ruangmeeting {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-12 .container-12 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 11px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-12 .summa-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-12 .summa-unisia-merupakan-program-penyediaan-air-bersih-untuk-mengatasi-masalah-kekurangan-air {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-12 .container-30 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 107px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-12 .rulin-unisia {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.desktop-12 .rulin-unisia-merupakan-program-penyediaan-fasilitas-persalinan-bagi-keluarga-kurang-mampu {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-12 .container-38 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 0 107px 15px;
  width: 342px;
  box-sizing: border-box;
}
.desktop-12 .container-14 {
  margin: 0 74px 403px 78px;
  display: flex;
  flex-direction: row;
  column-gap: 131px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .logo-lembaga-wakaf-uang-unisia-hitam-putih-21 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 101px;
  top: 6px;
  width: 93px;
  height: 96px;
}
.desktop-12 .fitur {
  margin-right: 15px;
  width: 47px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-12 .hubungi-kami {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-12 .terdaftar-resmi-di-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-12 .container-22 {
  margin: 0 128.1px 12px 128.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 835.4px;
  box-sizing: border-box;
}
.desktop-12 .jl-cik-di-tiro-no-1-terban-kec-gondokusuman-kota-yogyakarta-diy-55223 {
  position: relative;
  margin: 31px 36px 12px 0;
  display: inline-block;
  width: 232px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .profil {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .produk-1 {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .cara-berwakaf {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .imbal-hasil-wakaf-uang {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .container-9 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .email-lwu-unisiagmail-com {
  margin-bottom: 18px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .telepon-6281390346688 {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .container-8 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .nomor-surat-tanda-bukti-pendaftaran-nazhir-stbpn-3300250 {
  position: relative;
  margin-bottom: 7px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .di-bawah-naungan {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-12 .container-16 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .container-23 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1325.5px;
  box-sizing: border-box;
}
.desktop-12 .logo-beserta-nama-untuk-website-01011 {
  background: url('../assets/images/logo_beserta_nama_untuk_website_01011.png') 50% / cover no-repeat;
  margin: 0 0 5px 873.5px;
  width: 173px;
  height: 36px;
}
.desktop-12 .nomor-01-kpts-ii-2020 {
  margin-left: 880.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .container-27 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1325.5px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .images-removebg-preview-1 {
  background: url('../assets/images/images_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 48px;
  right: 254px;
  width: 44px;
  height: 44px;
}
.desktop-12 .group-19 {
  background: #278E8A;
  position: relative;
  display: flex;
  padding: 18px 58.5px 8px 56px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-12 .container-32 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .sssss-1 {
  background: url('../assets/images/sssss_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 144px;
  right: 169px;
  width: 485px;
  height: 720px;
}
.desktop-12 .logo-badan-wakaf-indonesia-samping-11024-x-4411 {
  background: url('../assets/images/logo_badan_wakaf_indonesia_samping_11024_x_4411.png') 50% / cover no-repeat;
  margin: 0 19.9px 32.1px 18.2px;
  width: 138.1px;
  height: 59.6px;
}
.desktop-12 .rectangle-10 {
  border-radius: 40px;
  background: #278E8A;
  width: 176.2px;
  height: 62.7px;
}
.desktop-12 .container-33 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 176.7px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .rectangle-11 {
  background: #238C87;
  position: absolute;
  right: 0.3px;
  bottom: 31.3px;
  width: 176.2px;
  height: 32.4px;
}
.desktop-12 .terdaftar-resmi-di {
  position: absolute;
  left: 50%;
  bottom: 41.3px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
}
.desktop-12 .badan-wakaf-indonesia {
  position: absolute;
  left: 50%;
  bottom: 20.5px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  color: #FFFFFF;
}
.desktop-12 .group-8 {
  border-radius: 39px;
  background: #F9FAFC;
  position: absolute;
  left: 596px;
  top: 642px;
  display: flex;
  padding: 0 0px 0px 1.2px;
  width: 177.9px;
  height: 194.2px;
  box-sizing: border-box;
}
.desktop-12 .logo-yayasan-final-1 {
  background: url('../assets/images/logo_yayasan_final_1.png') 50% / cover no-repeat;
  margin: 0 0.1px 15.1px 0;
  width: 93.9px;
  height: 93.9px;
}
.desktop-12 .rectangle-7 {
  border-radius: 40px;
  background: #278E8A;
  width: 176px;
  height: 62.6px;
}
.desktop-12 .container-17 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 176.6px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .rectangle-8 {
  background: #238C87;
  position: absolute;
  right: 0.4px;
  bottom: 31.3px;
  width: 176px;
  height: 32.3px;
}
.desktop-12 .dibawah-naungan {
  position: absolute;
  left: 50%;
  bottom: 41.3px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
}
.desktop-12 .yayasan-badan-wakaf-unisi {
  position: absolute;
  left: 17.9px;
  bottom: 20.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  color: #FFFFFF;
}
.desktop-12 .group-9 {
  border-radius: 39px;
  background: #F9FAFC;
  position: absolute;
  left: 374px;
  top: 642px;
  display: flex;
  padding: 20px 0px 0px 1.2px;
  width: 177.7px;
  box-sizing: border-box;
}
.desktop-12 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
