.desktop-4 .logo-lembaga-wakaf-uang-unisia-hitam-putih-2 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  width: 93px;
  height: 96px;
}
.desktop-4 .home {
  margin-right: 9px;
  width: 46px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-4 .produk-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-4 .event {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-4 .berita {
  margin-right: 19.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-4 .laporan {
  margin-right: 15px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-4 .tentang-kami {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-4 .container-8 {
  margin: 11px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 469.6px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .login {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-4 .container-2 {
  border-radius: 4px;
  border: 1px solid #FFCF48;
  background: #238C87;
  position: relative;
  display: flex;
  padding: 11px 1.8px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-4 .container-7 {
  margin: 29px 0 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 622px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-6 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1220px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .daftar {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #212121;
}
.desktop-4 .container-5 {
  border-radius: 9px;
  background: #F8D217;
  position: absolute;
  right: 29px;
  bottom: 28px;
  display: flex;
  padding: 11px 0.3px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-4 .container-14 {
  background: #238C87;
  position: relative;
  margin-bottom: 108px;
  display: flex;
  padding: 6px 116px 6px 104px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-4 .profil {
  margin: 0 78px 6px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #278E8A;
}
.kilas-balik-lwu-unisia {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.333;
}
.desktop-4 .kilas-balik-lwu-unisia {
  margin-bottom: 51px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.kilas-balik-lwu-unisia-sub26 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.333;
}
.desktop-4 .rectangle-13 {
  border-radius: 28px;
  background: url('../assets/images/rectangle_13.png') 50% / cover no-repeat;
  width: 487px;
  height: 256px;
}
.desktop-4 .container-9 {
  margin: 0 92px 107px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-4 .lembaga-wakaf-uang-unisia-didirikan-oleh-pengurus-yayasan-badan-wakaf-universitas-islam-indonesia-melalui-surat-keputusan-pendirian-nomor-01-kpts-ii-2020-dan-surat-keputusan-pengangkatan-nazhir-lembaga-wakaf-uang-unisia-nomor-01-sk-pybw-pjb-ii-2020-lembaga-wakaf-uang-unisia-telah-terdaftar-di-badan-wakaf-indonesia-dan-memiliki-surat-tanda-bukti-pendaftaran-nazhir-dengan-nomor-pendaftaran-3300250-yang-ditetapkan-pada-tanggal-3-juli-2020 {
  margin: 0 1.6px 30px 0;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-4 .visi-menjadi-lembaga-wakaf-uang-unisiarahmatan-lilalamindalam-pengelolaan-dana-wakaf-secara-amanah-profesional-dan-produktif-misi-meningkatkan-literasi-tentang-wakaf-di-kalangan-umat-islam-menghimpun-dan-memproduktifkan-dana-wakaf-lwu-unisia-secara-optimal-menyalurkan-hasil-pengelolaan-dana-wakaf-lwu-unisia-kepada-masyarakat-bekerja-sesuai-standar-syariah-amanah-profesional-produktif-dan-berbasis-teknologi-informasi {
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.visi-menjadi-lembaga-wakaf-uang-unisiarahmatan-lilalamindalam-pengelolaan-dana-wakaf-secara-amanah-profesional-dan-produktif-misi-meningkatkan-literasi-tentang-wakaf-di-kalangan-umat-islam-menghimpun-dan-memproduktifkan-dana-wakaf-lwu-unisia-secara-optimal-menyalurkan-hasil-pengelolaan-dana-wakaf-lwu-unisia-kepada-masyarakat-bekerja-sesuai-standar-syariah-amanah-profesional-produktif-dan-berbasis-teknologi-informasi-sub23 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
}
.desktop-4 .container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-4 .container-10 {
  margin: 0 94.9px 62px 78px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .images-removebg-preview-1 {
  background: url('../assets/images/images_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 45px;
  right: 254px;
  width: 44px;
  height: 44px;
}
.desktop-4 .logo-lembaga-wakaf-uang-unisia-hitam-putih-21 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 45px;
  top: 0px;
  width: 93px;
  height: 96px;
}
.desktop-4 .fitur {
  margin-right: 15px;
  width: 47px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-4 .hubungi-kami {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-4 .terdaftar-resmi-di {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-4 .container-15 {
  margin: 0 128.1px 12px 128.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 835.4px;
  box-sizing: border-box;
}
.desktop-4 .jl-cik-di-tiro-no-1-terban-kec-gondokusuman-kota-yogyakarta-diy-55223 {
  position: relative;
  margin: 31px 36px 12px 0;
  display: inline-block;
  width: 232px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .profil-1 {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .produk {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .cara-berwakaf {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .imbal-hasil-wakaf-uang {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .container {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-4 .email-lwu-unisiagmail-com {
  margin-bottom: 18px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .telepon-6281390346688 {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .container-1 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-4 .nomor-surat-tanda-bukti-pendaftaran-nazhir-stbpn-3300250 {
  margin-bottom: 7px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .di-bawah-naungan {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-4 .container-3 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-4 .container-12 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1325.5px;
  box-sizing: border-box;
}
.desktop-4 .logo-beserta-nama-untuk-website-01011 {
  background: url('../assets/images/logo_beserta_nama_untuk_website_01011.png') 50% / cover no-repeat;
  margin: 0 0 5px 873.5px;
  width: 173px;
  height: 36px;
}
.desktop-4 .nomor-01-kpts-ii-2020 {
  margin-left: 880.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-4 .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1325.5px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .group-11 {
  position: relative;
  display: flex;
  padding-top: 12px;
  width: 1329px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-11 {
  background: #278E8A;
  position: relative;
  display: flex;
  padding: 7px 58.5px 7px 56px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-4 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
