.desktop-11 .logo-lembaga-wakaf-uang-unisia-hitam-putih-2 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  width: 93px;
  height: 96px;
}
.desktop-11 .home {
  margin-right: 9px;
  width: 46px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-11 .produk-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-11 .event {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-11 .berita {
  margin-right: 19.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-11 .laporan {
  margin-right: 15px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-11 .tentang-kami {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-11 .container-12 {
  margin: 11px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 469.6px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .login {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.desktop-11 .container-42 {
  border-radius: 4px;
  border: 1px solid #FFCF48;
  background: #238C87;
  position: relative;
  display: flex;
  padding: 11px 1.8px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-11 .container-16 {
  margin: 29px 0 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 622px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .container-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1220px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .daftar {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  color: #212121;
}
.desktop-11 .container-26 {
  border-radius: 9px;
  background: #F8D217;
  position: absolute;
  right: 29px;
  bottom: 28px;
  display: flex;
  padding: 11px 0.3px 16px 0;
  width: 96px;
  box-sizing: border-box;
}
.desktop-11 .container-14 {
  background: #238C87;
  position: relative;
  margin-bottom: 86px;
  display: flex;
  padding: 6px 116px 6px 103px;
  width: 1439px;
  box-sizing: border-box;
}
.desktop-11 .laporan-bulanan-lwu-unisia-1 {
  margin: 0 77px 91px 77px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  color: #278E8A;
}
.desktop-11 .rectangle-53 {
  background: #D9D9D9;
  margin: 0 14.9px 14px 14px;
  width: 228px;
  height: 267px;
}
.desktop-11 .laporan-lwu-bulan-januari-2024 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-28 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .islamic-fair-flyer-template-design-6-aa-02-fca-6-bb-7-d-55-c-609-a-2654-a-3-ac-0-d-20-screen {
  background: url('../assets/images/rectangle_49.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 228px;
  height: 268px;
}
.desktop-11 .container-31 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 56px;
  display: flex;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .khatam-ul-quran-program-story-template-design-272660771-fb-772-ea-11-a-459-aea-702-f-81-b {
  background: url('../assets/images/khatam_ul_quran_program_story_template_design_272660771_fb_772_ea_11_a_459_aea_702_f_81_b_1.jpeg') 50% / cover no-repeat;
  width: 228px;
  height: 267px;
}
.desktop-11 .container-20 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0.9px 14px 0;
  display: flex;
  width: 228px;
  height: 267px;
  box-sizing: border-box;
}
.desktop-11 .laporan-lwu-bulan-januari-20242 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-45 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .rectangle-59 {
  background: #D9D9D9;
  margin: 0 14.9px 14px 14px;
  width: 228px;
  height: 267px;
}
.desktop-11 .laporan-lwu-bulan-januari-20243 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .pngtree-islamic-new-year-poster-image-454564 {
  background: url('../assets/images/pngtree_islamic_new_year_poster_image_454564.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 228px;
  height: 268px;
}
.desktop-11 .container-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 41px;
  display: flex;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .rectangle-55 {
  background: #D9D9D9;
  margin: 0 0.9px 14px 0;
  width: 228px;
  height: 267px;
}
.desktop-11 .laporan-lwu-bulan-januari-20241 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-18 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .container-10 {
  margin: 0 64px 44px 70px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .rectangle-69 {
  background: #D9D9D9;
  margin: 0 14.9px 14px 14px;
  width: 228px;
  height: 267px;
}
.desktop-11 .laporan-lwu-bulan-januari-20248 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .islamic-fair-flyer-template-design-6-aa-02-fca-6-bb-7-d-55-c-609-a-2654-a-3-ac-0-d-20-screen-2 {
  background: url('../assets/images/rectangle_49.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 228px;
  height: 268px;
}
.desktop-11 .container-17 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 56px;
  display: flex;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .khatam-ul-quran-program-story-template-design-272660771-fb-772-ea-11-a-459-aea-702-f-81-b-2 {
  background: url('../assets/images/khatam_ul_quran_program_story_template_design_272660771_fb_772_ea_11_a_459_aea_702_f_81_b_1.jpeg') 50% / cover no-repeat;
  width: 228px;
  height: 267px;
}
.desktop-11 .container-41 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0.9px 14px 0;
  display: flex;
  width: 228px;
  height: 267px;
  box-sizing: border-box;
}
.desktop-11 .laporan-lwu-bulan-januari-202410 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .rectangle-75 {
  background: #D9D9D9;
  margin: 0 14.9px 14px 14px;
  width: 228px;
  height: 267px;
}
.desktop-11 .laporan-lwu-bulan-januari-202411 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-34 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .pngtree-islamic-new-year-poster-image-4545642 {
  background: url('../assets/images/pngtree_islamic_new_year_poster_image_454564.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 228px;
  height: 268px;
}
.desktop-11 .container-39 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 41px;
  display: flex;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .df-999-c-43330-bb-52-b-732-a-77992-c-92-f-1 {
  background: url('../assets/images/df_999_c_43330_bb_52_b_732_a_77992_c_92_f.jpeg') 50% / cover no-repeat;
  width: 228px;
  height: 266px;
}
.desktop-11 .container-36 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0.9px 14px 0;
  display: flex;
  padding-bottom: 1px;
  width: 228px;
  height: 267px;
  box-sizing: border-box;
}
.desktop-11 .laporan-lwu-bulan-januari-20249 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-43 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .container-11 {
  margin: 0 64px 42px 70px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .rectangle-61 {
  background: #D9D9D9;
  margin: 0 14.9px 14px 14px;
  width: 228px;
  height: 267px;
}
.desktop-11 .laporan-lwu-bulan-januari-20244 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .islamic-fair-flyer-template-design-6-aa-02-fca-6-bb-7-d-55-c-609-a-2654-a-3-ac-0-d-20-screen-1 {
  background: url('../assets/images/rectangle_49.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 228px;
  height: 268px;
}
.desktop-11 .container-32 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 56px;
  display: flex;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .khatam-ul-quran-program-story-template-design-272660771-fb-772-ea-11-a-459-aea-702-f-81-b-1 {
  background: url('../assets/images/khatam_ul_quran_program_story_template_design_272660771_fb_772_ea_11_a_459_aea_702_f_81_b_1.jpeg') 50% / cover no-repeat;
  width: 228px;
  height: 267px;
}
.desktop-11 .container-8 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0.9px 14px 0;
  display: flex;
  width: 228px;
  height: 267px;
  box-sizing: border-box;
}
.desktop-11 .laporan-lwu-bulan-januari-20246 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-21 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .rectangle-67 {
  background: #D9D9D9;
  margin: 0 14.9px 14px 14px;
  width: 228px;
  height: 267px;
}
.desktop-11 .laporan-lwu-bulan-januari-20247 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-40 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .pngtree-islamic-new-year-poster-image-4545641 {
  background: url('../assets/images/pngtree_islamic_new_year_poster_image_454564.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 228px;
  height: 268px;
}
.desktop-11 .container-15 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 41px;
  display: flex;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .df-999-c-43330-bb-52-b-732-a-77992-c-92-f {
  background: url('../assets/images/df_999_c_43330_bb_52_b_732_a_77992_c_92_f.jpeg') 50% / cover no-repeat;
  width: 228px;
  height: 266px;
}
.desktop-11 .container-44 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0.9px 14px 0;
  display: flex;
  padding-bottom: 1px;
  width: 228px;
  height: 267px;
  box-sizing: border-box;
}
.desktop-11 .laporan-lwu-bulan-januari-20245 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-46 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .container-35 {
  margin: 0 68px 58px 66px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .laporan-bulanan-lwu-unisia {
  margin: 0 77px 34px 77px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  color: #278E8A;
}
.desktop-11 .khatam-ul-quran-program-story-template-design-272660771-fb-772-ea-11-a-459-aea-702-f-81-b-3 {
  background: url('../assets/images/khatam_ul_quran_program_story_template_design_272660771_fb_772_ea_11_a_459_aea_702_f_81_b_1.jpeg') 50% / cover no-repeat;
  width: 228px;
  height: 267px;
}
.desktop-11 .container-19 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0.9px 14px 0;
  display: flex;
  width: 228px;
  height: 267px;
  box-sizing: border-box;
}
.desktop-11 .laporan-lwu-bulan-januari-202413 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-37 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .rectangle-81 {
  background: #D9D9D9;
  margin: 0 14.9px 14px 14px;
  width: 228px;
  height: 267px;
}
.desktop-11 .laporan-lwu-bulan-januari-202414 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-22 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .pngtree-islamic-new-year-poster-image-4545643 {
  background: url('../assets/images/pngtree_islamic_new_year_poster_image_454564.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 228px;
  height: 268px;
}
.desktop-11 .container-23 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 41px;
  display: flex;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .df-999-c-43330-bb-52-b-732-a-77992-c-92-f-2 {
  background: url('../assets/images/df_999_c_43330_bb_52_b_732_a_77992_c_92_f.jpeg') 50% / cover no-repeat;
  width: 228px;
  height: 266px;
}
.desktop-11 .container-30 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0.9px 14px 0;
  display: flex;
  padding-bottom: 1px;
  width: 228px;
  height: 267px;
  box-sizing: border-box;
}
.desktop-11 .laporan-lwu-bulan-januari-202412 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #238C87;
}
.desktop-11 .container-33 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 15.1px 10px 16px;
  box-sizing: border-box;
}
.desktop-11 .container-38 {
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .container-25 {
  background: #FBFBFB;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 6px 272px 0;
  width: 1445px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .logo-lembaga-wakaf-uang-unisia-hitam-putih-21 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 101px;
  top: 7px;
  width: 93px;
  height: 96px;
}
.desktop-11 .fitur {
  margin-right: 15px;
  width: 47px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-11 .hubungi-kami {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-11 .terdaftar-resmi-di {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-11 .container-29 {
  margin: 0 128.1px 12px 128.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 835.4px;
  box-sizing: border-box;
}
.desktop-11 .jl-cik-di-tiro-no-1-terban-kec-gondokusuman-kota-yogyakarta-diy-55223 {
  position: relative;
  margin: 31px 36px 12px 0;
  display: inline-block;
  width: 232px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .profil {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .produk {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .cara-berwakaf {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .imbal-hasil-wakaf-uang {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .container-24 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .email-lwu-unisiagmail-com {
  margin-bottom: 18px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .telepon-6281390346688 {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .container-13 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .nomor-surat-tanda-bukti-pendaftaran-nazhir-stbpn-3300250 {
  position: relative;
  margin-bottom: 7px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .di-bawah-naungan {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-11 .container-9 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .container-27 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1325.5px;
  box-sizing: border-box;
}
.desktop-11 .logo-beserta-nama-untuk-website-01011 {
  background: url('../assets/images/logo_beserta_nama_untuk_website_01011.png') 50% / cover no-repeat;
  margin: 0 0 5px 873.5px;
  width: 173px;
  height: 36px;
}
.desktop-11 .nomor-01-kpts-ii-2020 {
  margin-left: 880.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-11 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1325.5px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .images-removebg-preview-1 {
  background: url('../assets/images/images_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 49px;
  right: 254px;
  width: 44px;
  height: 44px;
}
.desktop-11 .container {
  background: #278E8A;
  position: absolute;
  right: -2px;
  bottom: -7px;
  display: flex;
  padding: 19px 58.5px 7px 56px;
  width: 1440px;
  height: 252px;
  box-sizing: border-box;
}
.desktop-11 {
  background: rgba(39, 142, 138, 0.05);
  display: flex;
  padding: 0 0 6px 1px;
  width: 1440px;
  box-sizing: border-box;
}
