.group-18 .logo-lembaga-wakaf-uang-unisia-hitam-putih-2 {
  background: url('../assets/images/logo_lembaga_wakaf_uang_unisia_hitam_putih_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 101px;
  top: 6px;
  width: 93px;
  height: 96px;
}
.group-18 .fitur {
  margin-right: 15px;
  width: 47px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.group-18 .hubungi-kami {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.group-18 .terdaftar-resmi-di {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.group-18 .container-4 {
  margin: 0 128.1px 12px 128.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 835.4px;
  box-sizing: border-box;
}
.group-18 .jl-cik-di-tiro-no-1-terban-kec-gondokusuman-kota-yogyakarta-diy-55223 {
  position: relative;
  margin: 31px 36px 12px 0;
  display: inline-block;
  width: 232px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .profil {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .produk {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .cara-berwakaf {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .imbal-hasil-wakaf-uang {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .container {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.group-18 .email-lwu-unisiagmail-com {
  margin-bottom: 18px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .telepon-6281390346688 {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .container-2 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.group-18 .nomor-surat-tanda-bukti-pendaftaran-nazhir-stbpn-3300250 {
  position: relative;
  margin-bottom: 7px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .di-bawah-naungan {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.group-18 .container-5 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.group-18 .container-3 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1325.5px;
  box-sizing: border-box;
}
.group-18 .logo-beserta-nama-untuk-website-01011 {
  background: url('../assets/images/logo_beserta_nama_untuk_website_01011.png') 50% / cover no-repeat;
  margin: 0 0 5px 873.5px;
  width: 173px;
  height: 36px;
}
.group-18 .nomor-01-kpts-ii-2020 {
  margin-left: 880.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.group-18 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1325.5px;
  height: fit-content;
  box-sizing: border-box;
}
.group-18 .images-removebg-preview-1 {
  background: url('../assets/images/images_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 48px;
  right: 254px;
  width: 44px;
  height: 44px;
}
.group-18 {
  background: #278E8A;
  display: flex;
  padding: 18px 58.5px 8px 56px;
  width: 1440px;
  box-sizing: border-box;
}
